.logo img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

/* Ajustes opcionales para centrar el logo y otros elementos */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #2b2e4a;
}
